:root {
  --main-color: #3b2b44; /* Purple */
  --light-color: #9a8c98; /* light purple */
  --focus-color: #618b4a; /* light green*/
  --border-color: #40531b; /*dark green*/
  --contrast-color: #517664;
  
  /*#517664  #297373  blue*/
  --text-color: #F9F9ED;
}
body {
  background: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
header h1 {
  background-color: var(--main-color);
  color: var(--text-color);
  font-variant: small-caps;
  padding: 1rem;
  margin: 0;
  text-align: center;
  font-size: 3rem;
}
header nav ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}
header nav ul li a:link,
header nav ul li a:visited,
header nav ul li a:hover,
header nav ul li a:active {
  background-color: var(--contrast-color);
  color: var(--text-color);
  font-weight: bold;
  display: block;
  text-decoration: none;
  padding: 0.5em 0;
  border-bottom: 2px solid transparent;
}
header nav ul li a:hover,
header nav ul li a:active {
  background-color: var(--text-color);
  color: var(--main-color);
  border-bottom-color: var(--main-color);
}
div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
}
article {
  width: 300px;
  padding: 0;
  margin: 0 0 0.5rem 0;
  border: solid medium var(--main-color);
}
h2{
  text-align: center;
  padding:0;
  margin:0;
}
.gallery{
  border: solid medium var(--main-color);
  margin: 0.5rem 0;
  margin: 1rem;

}
.desc{
  border: solid medium var(--main-color);
  margin: 1rem;
  display: block;
  justify-content: left;
  padding: 0.5rem;
}
.desc h2{
  margin:0;
  color:var(--contrast-color);
  display:table;
}
.desc h3{
  color:var(--main-color)
}
.desc h4{
  color:var(--contrast-color)
}
span{
  display: table;
}
article a:link,
article a:visited,
article a:hover,
article a:active{
  background-color:var(--main-color);
  color: var(--text-color);
  font-weight: bold;
  display: block;
  text-decoration: none;
  padding: 0.5em 0;
  border-bottom: 2px solid transparent;
}
article a:hover,
article a:active{
  background-color: var(--text-color);
  color: var(--main-color);
  border-bottom-color: var(--main-color);
}
footer{
  padding: 2rem;
  background-color: #222;
}
footer p{
 text-align: center;
 color:var(--text-color)
}

/* styles for small screen */

header nav {
  background-image: url(../images/x-menu.svg);
  background-repeat: no-repeat;
  padding-top: 40px;
  background-color: var(--main-color);
}

header nav.collapsed {
  background-image: url(../images/pancake-menu.svg);
}

/* https://css-tricks.com/inclusively-hidden/ */
header nav.collapsed ul {
  display: none;
}

/* see https://developer.mozilla.org/en-US/docs/Web/CSS/@media */
@media screen and (min-width: 40em) {
  header h1{
    font-size: 6rem;
    padding: 3rem;
  }
  header nav {
    padding-top: 0;
  }
  header nav ul,
  header nav.collapsed ul {
    display: flex;
  }
  header nav ul li {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10em;
    background-color: var(--main-color);
    text-align: center;
  }
  header nav.collapsed {
    background-image: none;
  }
}
